<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/stspilot.js"></script> 
</head>
<body>
<table>
  <tbody>
    <tr>
      <td id="l100" class="controlbar speed_100" onclick="motor_l(100)"><br>
      </td>
      <td class="title" colspan="4" rowspan="1">STS-PiLot</td>
	<td id="r100" class="controlbar speed_100" onclick="motor_r(100)"><br>
	</td>
      </tr>
      <tr>
	<td id="l60" class="controlbar speed_60" onclick="motor_l(60)"><br>
	</td>
	<td class="video" colspan="4" rowspan="5" onclick="brake()"><img src="static/nocamera.jpg" alt="No Camera found">
	</td>
	<td id="r60" class="controlbar speed_60" onclick="motor_r(60)"><br>
	</td>
      </tr>
      <tr>
	<td id="l30" class="controlbar speed_30" onclick="motor_l(30)"><br>
	</td>
	<td id="r30" class="controlbar speed_30" onclick="motor_r(30)"><br>
	</td>
	<td><br>
	</td>
	<td><br>
	</td>
      </tr>
      <tr>
	<td id="l0" class="controlbar speed_0" onclick="motor_l(0)"><br>
	</td>
	<td id="r0" class="controlbar speed_0" onclick="motor_r(0)"><br>
	</td>
	<td><br>
	</td>
	<td><br>
	</td>
      </tr>
      <tr>
	<td id="l-30" class="controlbar speed_30" onclick="motor_l(-30)"><br>
	</td>
	<td id="r-30" class="controlbar speed_30" onclick="motor_r(-30)"><br>
	</td>
	<td><br>
	</td>
	<td><br>
	</td>
      </tr>
      <tr>
	<td id="l-60" class="controlbar speed_60" onclick="motor_l(-60)"><br>
	</td>
	<td id="r-60" class="controlbar speed_60" onclick="motor_r(-60)"><br>
	</td>
	<td><br>
	</td>
	<td><br>
	</td>
      </tr>
      <tr>
	<td id="l-100" class="controlbar speed_100" onclick="motor_l(-100)"><br>
	</td>
	<td id="blue" class="led-controls" onclick="touchpad(1)">1</td>
	<td id="yellow" class="led-controls" onclick="touchpad(2)">2</td>
	<td id="red" class="led-controls" onclick="touchpad(3)">3</td>
	<td id="green" class="led-controls" onclick="touchpad(4)">4</td>
	<td id="r-100" class="controlbar speed_100" onclick="motor_r(-100)"><br>
	</td>
      </tr>
    </tbody>
  </table>
  </body>
  </html>
